// COLOR VARIABLES
$color-primary: rgb(7,27,82);
$color-white: #fff;
$color-black: #000;
$color-elementsS: rgb(255, 102, 102);
$color-elementsD: rgb(135,206,235);
$color-elementsP: rgb(255,255,0);
$color-description: rgb(173,216,230);
$color--actinides: rgb(154,205,50);
$color--lanthanides: rgb(173,255,47);
$color-border: 	$color-black;

// FONT VARIABLES
$font-primary: "Courier New", Courier, monospace;
$font-display: 'Josefin Sans', sans-serif;
//$font-primary: 'Nunito',
//sans-serif;

//Container
.containerElements {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(13, 6vw);
}

.otherElements {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(1, 5vw);
}
