@import "base";

.description {
  border-top: 1px solid $color-border;
  border-left: 1px solid $color-border;
  border-bottom: 1px solid $color-border;
  background-color: $color-description;
  position: relative;
  &__box {
    background-color: $color-elementsS;
    width: 170px;
    height: 80px;
    position: absolute;
    top: 35%;
    left: 37%;
    @media only screen and(width: 1024px) {
      width: 140px;
      height: 60px;
    }
    @media only screen and(width: 768px) {
      width: 100px;
      height: 40px;
    }
    @media only screen and(width: 736px) {
      width: 80px;
      height: 40px;
      left: 45%;
    }
    @media only screen and(width: 414px) {
      width: 50px;
      height: 30px;
      left: 46%;
      top: 33%;
    }
    @media only screen and(width: 667px) {
      width: 80px;
      height: 40px;
      left: 46%;
    }
    @media only screen and(width: 375px) {
      width: 40px;
      height: 20px;
      left: 46%;
    }
    @media only screen and(width: 684px) {
      width: 80px;
      height: 40px;
      left: 46%;
    }
    @media only screen and(width: 412px) {
      width: 50px;
      height: 25px;
      left: 46%;
    }
  }
  &__symbol{
    position: absolute;
    top: -5%;
    left: 2%;
    &--heading{
      font-size: 30px;
      font-weight: 400;
      @media only screen and(width: 1024px) {
        font-size: 23px;
      }
      @media only screen and(width: 768px) {
        font-size: 15px;
      }
      @media only screen and(width: 736px) {
        font-size: 14px;
      }
      @media only screen and(width: 414px) {
        font-size: 9px;
      }
      @media only screen and(width: 667px) {
        font-size: 14px;
      }
      @media only screen and(width: 375px) {
        font-size: 6px;
      }
      @media only screen and(width: 684px) {
        font-size: 13px;
      }
      @media only screen and(width: 412px) {
        font-size: 8px;
      }
    }
  }
  &__title {
    position: absolute;
    bottom: 1%;
    left: 2%;
    @media only screen and(width: 414px) {
      bottom: -2%;
    }
    &--heading {
      font-size: 16px;
      font-weight: 400;
      @media only screen and(width: 1024px) {
        font-size: 13px;
      }
      @media only screen and(width: 768px) {
        font-size: 10px;
      }
      @media only screen and(width: 736px) {
        font-size: 10px;
      }
      @media only screen and(width: 414px) {
        font-size: 7px;
      }
      @media only screen and(width: 667px) {
        font-size: 11px;
      }
      @media only screen and(width: 375px) {
        font-size: 5.5px;
      }
      @media only screen and(width: 684px) {
        font-size: 10px;
      }
      @media only screen and(width: 412px) {
        font-size: 7px;
      }
    }
  }
  &__number {
    position: absolute;
    right: 4%;
    &--heading {
      font-size: 20px;
      font-weight: 500;
      @media only screen and(width: 1024px) {
        font-size: 17px;
      }
      @media only screen and(width: 768px) {
        font-size: 12px;
      }
      @media only screen and(width: 736px) {
        font-size: 12px;
      }
      @media only screen and(width: 414px) {
        font-size: 7px;
      }
      @media only screen and(width: 667px) {
        font-size: 12px;
      }
      @media only screen and(width: 375px) {
        font-size: 5.5px;
      }
      @media only screen and(width: 684px) {
        font-size: 11px;
      }
      @media only screen and(width: 412px) {
        font-size: 7px;
      }
    }
  }
  &__mass{
    position: absolute;
    right: 4%;
    top: 30%;
    @media only screen and(width: 736px) {
      top: 50%;
    }
    @media only screen and(width: 667px) {
      top: 43%;
    }
    @media only screen and(width: 375px) {
      top: 43%;
    }
    @media only screen and(width: 412px) {
      top: 43%;
    }
    &--heading {
      font-size: 15px;
      font-weight: 400;
      @media only screen and(width: 1024px) {
        font-size: 12px;
      }
      @media only screen and(width: 768px) {
        font-size: 10px;
      }
      @media only screen and(width: 736px) {
        font-size: 10px;
      }
      @media only screen and(width: 414px) {
        font-size: 7px;
      }
      @media only screen and(width: 667px) {
        font-size: 10px;
      }
      @media only screen and(width: 375px) {
        font-size: 5px;
      }
      @media only screen and(width: 684px) {
        font-size: 10px;
      }
      @media only screen and(width: 412px) {
        font-size: 6px;
      }
    }
  }
  &__config {
    position: absolute;
    top: 45%;
    left: 2%;
    @media only screen and(width: 1024px) {
      top: 45%;
    }
    @media only screen and(width: 768px) {
      top: 40%;
    }
    @media only screen and(width: 736px) {
      top: 35%;
    }
    @media only screen and(width: 667px) {
      top: 35%;
    }
    @media only screen and(width: 375px) {
      top: 35%;
    }
    @media only screen and(width: 684px) {
      top: 35%;
    }
    @media only screen and(width: 412px) {
      top: 35%;
    }
    &--heading {
      font-size: 15px;
      font-weight: 400;
      @media only screen and(width: 1024px) {
        font-size: 13px;
      }
      @media only screen and(width: 768px) {
        font-size: 10px;
      }
      @media only screen and(width: 736px) {
        font-size: 11px;
      }
      @media only screen and(width: 414px) {
        font-size: 7px;
      }
      @media only screen and(width: 667px) {
        font-size: 10px;
      }
      @media only screen and(width: 375px) {
        font-size: 5px;
      }
      @media only screen and(width: 684px) {
        font-size: 10px;
      }
      @media only screen and(width: 412px) {
        font-size: 6px;
      }
    }
  }
  &--item {
    grid-column: 9 / span 3;
    grid-row: 2 / span 3;
    border-bottom: none;
  }
  &__lineNumber {
    position: absolute;
    top: 30%;
    right: 11.5%;
    width: 30px;
    border: 1px solid $color-black;
    border-left: none;
    border-top: none;
    transform: rotate(90deg);
    @media only screen and(width: 1024px) {
      width: 20px;
      right: 7%;
    }
    @media only screen and(width: 768px) {
      width: 14px;
      right: 8%;
    }
    @media only screen and(width: 736px) {
      width: 10px;
      right: 10%;
    }
    @media only screen and(width: 414px) {
      width: 6px;
      right: 3%;
    }
    @media only screen and(width: 667px) {
      width: 14px;
      right: 3.8%;
    }
    @media only screen and(width: 375px) {
      width: 6px;
      right: 8%;
    }
    @media only screen and(width: 684px) {
      width: 14px;
      right: 6%;
    }
    @media only screen and(width: 412px) {
      width: 10px;
      right: 1%;
      top: 25%;
    }
  }
  &--itemSerial {
    position: absolute;
    top: 16%;
    right: 1%;
    @media only screen and(width: 736px) {
      width: 38%;
      text-align: center;
      top: 6%;
    }
    @media only screen and(width: 414px) {
      width: 38%;
      text-align: center;
      top: 6%;
    }
    @media only screen and(width: 667px) {
      width: 38%;
      text-align: center;
      top: 6%;
    }
    @media only screen and(width: 375px) {
      width: 38%;
      text-align: center;
      top: 6%;
    }
    @media only screen and(width: 684px) {
      width: 38%;
      text-align: center;
      top: 6%;
    }
    @media only screen and(width: 412px) {
      width: 38%;
      text-align: center;
      top: 6%;
    }
  }
  &__lineMass {
    position: absolute;
    bottom: 35%;
    right: 10%;
    width: 60px;
    border: 1px solid $color-black;
    border-left: none;
    border-top: none;
    transform: rotate(90deg);
    @media only screen and(width: 1024px) {
      width: 40px;
    }
    @media only screen and(width: 768px) {
      width: 30px;
    }
    @media only screen and(width: 736px) {
      width: 20px;
      bottom: 30%;
    }
    @media only screen and(width: 414px) {
      width: 10px;
    }
    @media only screen and(width: 667px) {
      width: 16px;
      bottom: 30%;
    }
    @media only screen and(width: 375px) {
      width: 10px;
    }
    @media only screen and(width: 684px) {
      width: 18px;
    }
    @media only screen and(width: 412px) {
      width: 8px;
      bottom: 30%;
    }
  }
  &--itemMass {
    position: absolute;
    bottom: 4%;
    right: 2%;
  }
  &__lineConfig {
    position: absolute;
    top: 53.5%;
    left: 32%;
    width: 20px;
    border: 1px solid $color-black;
    border-left: none;
    border-top: none;
    @media only screen and(width: 1024px) {
      width: 7px;
      left: 35.5%;
      top: 55%;
    }
    @media only screen and(width: 768px) {
      width: 6px;
      left: 34.5%;
      top: 52%;
    }
    @media only screen and(width: 736px) {
      width: 8px;
      left: 40%;
      top: 51%;
    }
    @media only screen and(width: 414px) {
      width: 4px;
      left: 42%;
      top: 59%;
    }
    @media only screen and(width: 667px) {
      width: 8px;
      left: 40%;
    }
    @media only screen and(width: 375px) {
      width: 4px;
      left: 40%;
      top: 50%;
    }
    @media only screen and(width: 684px) {
      width: 14px;
      left: 38%;
    }
    @media only screen and(width: 412px) {
      width: 10px;
      top: 52%;
      left: 35%;
    }
  }
  &--itemConfig {
    position: absolute;
    top: 40%;
    left: 1%;
    @media only screen and(width: 736px) {
      top: 33%;
    }
    @media only screen and(width: 667px) {
      top: 35%;
    }
    @media only screen and(width: 375px) {
      top: 35%;
    }
    @media only screen and(width: 684px) {
      top: 35%;
    }
  }
  &__lineTopName {
    position: absolute;
    bottom: 25%;
    left: 44%;
    width: 40px;
    border: 1px solid $color-black;
    border-left: none;
    border-top: none;
    transform: rotate(90deg);
    @media only screen and(width: 1024px) {
      width: 26px;
      left: 46%;
    }
    @media only screen and(width: 768px) {
      width: 26px;
      left: 46%;
      bottom: 28%;
    }
    @media only screen and(width: 736px) {
      width: 20px;
      left: 50%;
    }
    @media only screen and(width: 414px) {
      width: 10px;
      left: 45%;
      bottom: 20%;
    }
    @media only screen and(width: 667px) {
      width: 18px;
      left: 51%;
    }
    @media only screen and(width: 375px) {
      width: 7px;
    }
    @media only screen and(width: 684px) {
      width: 18px;
      left: 51%;
    }
    @media only screen and(width: 412px) {
      width: 6px;
      left: 48%;
      bottom: 26%;
    }
  }
  &__lineMiddleName {
    position: absolute;
    bottom: 16.5%;
    left: 44%;
    width: 20px;
    border: 1px solid $color-black;
    border-left: none;
    border-top: none;
    @media only screen and(width: 1024px) {
      width: 8px;
      left: 47.9%;
      bottom: 18%;
    }
    @media only screen and(width: 768px) {
      width: 6px;
      left: 50%;
      bottom: 18.5%;
    }
    @media only screen and(width: 736px) {
      width: 5px;
      left: 53%;
    }
    @media only screen and(width: 414px) {
      width: 6px;
      left: 44%;
      bottom: 12%;
    }
    @media only screen and(width: 667px) {
      width: 4px;
      left: 54%;
      bottom: 18%;
    }
    @media only screen and(width: 375px) {
      width: 0;
      border: none;
    }
    @media only screen and(width: 684px) {
      width: 10px;
      left: 50%;
      bottom: 17%;
    }
    @media only screen and(width: 412px) {
      width: 0;
      border: none;
    }
  }
  &--itemName {
    position: absolute;
    bottom: 14%;
    @media only screen and(width: 414px) {
      width: 48%;
      text-align: center;
      bottom: 3%;
    }

  }
  &--itemSymbol {
    position: absolute;
    top: 6%;
    @media only screen and(width: 375px) {
      left: 10%;
    }
    @media only screen and(width: 412px) {
      left: 8%;
    }
  }
  &__lineBottomSymbol {
    position: absolute;
    top: 25%;
    left: 35%;
    width: 70px;
    border: 1px solid $color-black;
    border-left: none;
    border-top: none;
    transform: rotate(90deg);
    @media only screen and(width: 1024px) {
      width: 50px;
      left: 37%;
    }
    @media only screen and(width: 768px) {
      width: 28px;
      left: 34%;
    }
    @media only screen and(width: 736px) {
      width: 32px;
      left: 43.5%;
    }
    @media only screen and(width: 414px) {
      width: 15px;
      left: 47%;
      top: 21.5%;
    }
    @media only screen and(width: 667px) {
      width: 30px;
      left: 47%;
      top: 24%;
    }
    @media only screen and(width: 375px) {
      width: 10px;
      left: 45%;
    }
    @media only screen and(width: 684px) {
      width: 30px;
      left: 43%;
      top: 24%;
    }
    @media only screen and(width: 412px) {
      width: 12px;
      left: 45%;
    }
  }
  &__lineMiddleSymbol {
    position: absolute;
    top: 10.5%;
    left: 39.4%;
    width: 20px;
    border: 1px solid $color-black;
    border-left: none;
    border-top: none;
    @media only screen and(width: 1024px) {
      width: 10px;
      left: 43.2%;
    }
    @media only screen and(width: 768px) {
      width: 0;
    }
    @media only screen and(width: 736px) {
      width: 10px;
      left: 47%;
      top: 12%;
    }
    @media only screen and(width: 414px) {
      width: 3px;
      left: 51.4%;
    }
    @media only screen and(width: 667px) {
      width: 10px;
      left: 50%;
    }
    @media only screen and(width: 375px) {
      width: 0;
      border: none;
    }
    @media only screen and(width: 684px) {
      width: 10px;
      left: 46%;
    }
    @media only screen and(width: 412px) {
      width: 0;
      border: none;
    }
  }
  &--heading {
    font-weight: 400;
    font-size: 15px;
    @media only screen and(width: 1024px) {
      font-size: 13px;
    }
    @media only screen and(width: 768px) {
      font-size: 10px;
    }
    @media only screen and(width: 736px) {
      font-size: 10px;
    }
    @media only screen and(width: 414px) {
      font-size: 6px;
    }
    @media only screen and(width: 667px) {
      font-size: 9px;
      font-weight: 600;
    }
    @media only screen and(width: 375px) {
      font-size: 5px;
    }
    @media only screen and(width: 684px) {
      font-size: 9px;
    }
    @media only screen and(width: 412px) {
      font-size: 6px;
    }
  }
}
