@import "base";

.footer {
  position: relative;
  padding: 10px;
  &__left {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  &__box {
    border: 1px solid $color-border;
    width: 60px;
    height: 30px;
    margin-right: 5px;
    @media only screen and(width: 768px) {
      width: 40px;
      height: 20px;
    }
    @media only screen and(width: 736px) {
      width: 35px;
      height: 17px;
    }
    @media only screen and(width: 414px) {
     width: 15px;
      height: 10px;
    }
    @media only screen and(width: 667px) {
      width: 30px;
      height: 12px;
    }
    @media only screen and(width: 375px) {
      width: 10px;
      height: 10px;
    }
    @media only screen and(width: 684px) {
      width: 35px;
      height: 20px;
    }
    @media only screen and(width: 412px) {
      width: 18px;
      height: 10px;
    }
  }
  &__heading {
    font-size: 20px;
    font-weight: 300;
    @media only screen and(width: 768px) {
      font-size: 15px;
    }
    @media only screen and(width: 736px) {
      font-size: 14px;
    }
    @media only screen and(width: 414px) {
      font-size: 8px;
      font-weight: 700;
    }
    @media only screen and(width: 667px) {
      font-size: 11px;
      font-weight: 700;
    }
    @media only screen and(width: 375px) {
      font-size: 7px;
      font-weight: 700;
    }
    @media only screen and(width: 684px) {
      font-size: 13px;
    }
    @media only screen and(width: 412px) {
      font-size: 8px;
      font-weight: 700;
    }
  }
  &__boxHeading {
    margin-right: 5px;
  }
  &__wrapper {
    display: flex;
    flex-flow: row nowrap;
    &--l {
      background-color: $color--lanthanides;
      flex-grow: 5;
      border-right: 1px solid $color-border;
    }
    &--a {
      flex-grow: 5;
      background-color: $color--actinides;
    }
  }
  &__copy {
    margin-left: 250px;
    @media only screen and(width: 1024px) {
      margin-left: 130px;
    }
    @media only screen and(width: 768px) {
      margin-left: 50px;
    }
    @media only screen and(width: 736px) {
      margin-left: 60px;
    }
    @media only screen and(width: 414px) {
      margin-left: 10px;
    }
    @media only screen and(width: 667px) {
      margin-left: 50px;
    }
    @media only screen and(width: 375px) {
      margin-left: 20px;
    }
    @media only screen and(width: 684px) {
      margin-left: 40px;
    }
    @media only screen and(width: 412px) {
      margin-left: 0;
    }
    &--heading {
      font-size: 20px;
      font-weight: 300;
      @media only screen and(width: 768px) {
        font-size: 15px;
      }
      @media only screen and(width: 736px) {
        font-size: 12px;
      }
      @media only screen and(width: 414px) {
        font-size: 8px;
        font-weight: 700;
      }
      @media only screen and(width: 667px) {
        font-size: 11px;
        font-weight: 700;
      }
      @media only screen and(width: 375px) {
        font-size: 9px;
      }
      @media only screen and(width: 684px) {
        font-size: 13px;
      }
      @media only screen and(width: 412px) {
        font-size: 9px;
      }
    }
    &--span {
      font-weight: 300;
    }
  }
}

.colorS {
  background-color: $color-elementsS;
}
.colorP {
  background-color: $color-elementsP;
}
.colorD {
  background-color: $color-elementsD;
}