@import "base";

.oxides {
  background-color: $color-white;
  border: 1px solid $color-border;
  position: relative;
  &__heading {
    font-size: 40px;
    font-weight: 300;
    @media only screen and(width: 1024px) {
      font-size: 30px;
    }
    @media only screen and(width: 768px) {
      font-size: 20px;
    }
    @media only screen and(width: 736px) {
      font-size: 18px;
    }
    @media only screen and(width: 414px) {
      font-size: 14px;
    }
    @media only screen and(width: 667px) {
      font-size: 18px;
    }
    @media only screen and(width: 375px) {
      font-size: 10px;
    }
    @media only screen and(width: 684px) {
      font-size: 18px;
    }
    @media only screen and(width: 412px) {
      font-size: 13px;
    }
  }
  &__span {
    font-size: 20px;
    font-weight: 400;
    @media only screen and(width: 768px) {
      font-size: 11px;
    }
    @media only screen and(width: 736px) {
      font-size: 8px;
    }
    @media only screen and(width: 414px) {
      font-size: 6px;
    }
    @media only screen and(width: 667px) {
      font-size: 10px;
    }
    @media only screen and(width: 375px) {
      font-size: 6px;
    }
    @media only screen and(width: 684px) {
      font-size: 10px;
    }
    @media only screen and(width: 412px) {
      font-size: 7px;
    }
  }
  &__oneShift {
    position: absolute;
    top: 10%;
    right: 23%;
    @media only screen and(width: 736px) {
      top: 20%;
    }
  }
  &__twoShift {
    position: absolute;
    top: 10%;
    right: 27%;
    @media only screen and(width: 736px) {
      top: 20%;
    }
  }
  &__threeShift {
    position: absolute;
    top: 10%;
    right: 17%;
    @media only screen and(width: 736px) {
      top: 20%;
    }
  }
  &__fourShift {
    position: absolute;
    top: 10%;
    right: 20%;
    @media only screen and(width: 736px) {
      top: 20%;
    }
  }
  &__fiveShift {
    position: absolute;
    top: 10%;
    right: 15%;
    @media only screen and(width: 736px) {
      top: 20%;
    }
  }
  &__sixShift {
    position: absolute;
    top: 10%;
    right: 27%;
    @media only screen and(width: 736px) {
      top: 20%;
    }
  }
  &__sevenShift {
    position: absolute;
    top: 10%;
    right: 17%;
    @media only screen and(width: 736px) {
      top: 20%;
    }
  }
  &__eightShift {
    position: absolute;
    top: 10%;
    right: 45%;
    border-left: none;
    @media only screen and(width: 736px) {
      top: 20%;
    }
  }
  &--one {
    grid-column: 2;
    grid-row: 12;
    border-left: none;
    border-bottom: none;
    border-right: none;
  }
  &--two {
    grid-column: 3;
    grid-row: 12;
    border-right: none;
    border-bottom: none;
  }
  &--three {
    grid-column: 4;
    grid-row: 12;
    border-bottom: none;
    border-right: none;
  }
  &--four {
    grid-column: 5;
    grid-row: 12;
    border-bottom: none;
    border-right: none;
  }
  &--five {
    grid-column: 6;
    grid-row: 12;
    border-bottom: none;
    border-right: none;

  }
  &--six {
    grid-column: 7;
    grid-row: 12;
    border-bottom: none;
    border-right: none;
  }
  &--seven {
    grid-column: 8;
    grid-row: 12;
    border-bottom: none;
    border-right: none;
  }
  &--eight {
    grid-column: 9 / span 12;
    grid-row: 12;
    border-bottom: none;
  }
}